assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
.htaccess
themes/hydra/.sass-cache/*
cms/*
framework/*
betterbuttons/
dashboard/
frontend/
gamesevent/
gridfieldextensions/
memberprofiles/
html5/
iframe/

mimevalidator/

multiform/

multivaluefield/
queuedjobs/
restfulserver/

securityreport/
selectupload/
userforms/
spellcheck/
standardsediting/
