
.pts {
	padding-top:15px;
}
.ptm {
	padding-top:20px;
}
.ptl{
	padding-top:30px;
}
.ptxl{
	padding-top:60px;
}

.pbs {
	padding-bottom:15px;
}
.pbm {
	padding-bottom:20px;
}
.pbl{
	padding-bottom:30px;
}
.pbxl{
	padding-bottom:60px;
}

.pvl {
	padding-top:30px;
	padding-bottom:30px;
}
.pvm {
	padding-top:20px;
	padding-bottom:20px;
}

.pvs {
	padding-top:10px;
	padding-bottom:10px;
}

.pls {
	padding-left: 15px;
}
.plm {
	padding-left: 20px;
}
.pll{
	padding-left: 30px;
}
.plxl{
	padding-left: 60px;
}

.prs {
	padding-right: 15px;
}
.prm {
	padding-right: 20px;
}
.prl{
	padding-right: 30px;
}
.prxl{
	padding-right: 60px;
}
