$pagination-border: rgba(#333,0.1);
.pagination-wrap.ssendless {
	float: left;
	left: 0; 
	position: static;
	width: 100%;
	margin-top: 50px;
	margin-bottom:100px;

	.ss-pagination { 
		@include box-sizing(border-box);
		float:left;
		left:0; 
		position:relative;
		width:100%;

		a {
			@include transition(background-color, 0.3s);
			@include text-shadow(0px -1px 0px rgba(#fff, 0.1));
			@extend .btn;
			@extend .metro;
			@extend .rounded;
			@extend .primary;
			@extend .medium;
			position: relative;
			color: #fff;
			display: block;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			.text {
				font-size:0.9em;
				padding-top: 1px;
				display: inline-block;
			}

			.loading-icon {
				font-size: 1em;
				color: #fff;
				padding: 0;
				i {
					font-style: normal;
					display: inline-block;
				}
			}
		}

		&.loading {
			a .loading-icon{
				display: inline-block;
			}
		}
	}
}
