.success.btn {
	a:hover {
		color:#fff;
	}
	&:hover {
		color:#fff;
		a {
			color:#fff;
		}
	}
}

.btn-login {
	text-align: right;
	margin-top: 16px;
	@include respond(all-phones) {
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 3;
	}
	button a {
		display: inline-block;
	}
	p {
		text-align: right;
	}
	.meta-data {
		color: lighten($global-bg-color, 40%);
		font-size:0.8em;
		padding-right:20px;
		line-height:30px;
		text-align:right;
		@include respond(all-phones) {
			display:none;
		}
	}
}
