.success.btn:hover{
	color:#fff;
	a{
		color:#fff;
	}
}
.success.btn{
	a:hover{
		color:#fff;
	}
}


.divider{
	border-top: 3px solid $navbar-link-color;
	opacity:0.8;
	text-align:center;
	@include border-image(url('../images/border-small.png') 30 0 stretch);
}
.header{
	//border-top: 3px solid $navbar-link-color;
	//@include border-image(url('../images/border-small.png') 30 0 stretch);
	padding-bottom:20px;
	.row{ 
		position:relative;
	}
}


input.text {
	@extend .input;
}
.Actions{
	.btn{
		@extend .info;
		float:left;
	}
}

.btn-login{
	position:absolute;
	top:20px;
	right:0;
}

#ForgotPassword{
	font-size: 0.8em;
	padding-top:10px;
	padding-left:20px;
	float:left;
}

.navbar{
	margin-bottom:0;
	margin-top:20px;
	&.rounded{
		@include border-radius(4px);
	}
}

.shaded{
	background:darken($global-bg-color, 3%);
	padding-bottom:20px;
}

.main{
	padding-bottom:40px;
}

.footer{
	 .navbar{
		padding: 0 20px;
		margin-bottom:30px;
	}
}

.feature-group{
	margin-bottom:30px;
	.divider{
		opacity:0.3;
		border-top: 1px solid $navbar-link-color;
	}
}


.content.subhead{
	padding-bottom: 10px;
}

.meta-info{
	padding-top:10px;
	em{
		display:block;
		font-style:normal;
	}
	.label{
		font-size:16px;
		height:auto;
		line-height:25px;
		margin-top:10px;
	}
}

.pagination-content{
	article{
		margin-bottom:10px;
		&:not(:first-child){
			@include doubleborder(top, lighten($global-bg-color, 3%), darken($global-bg-color, 3%));
			padding-top:20px;
		}
	}
}


.ss-pagination{
	@extend .row;
	a{
		@extend .columns;
		@extend .eight;
		@extend .push_two;
		@extend .btn;
		@extend .metro;
		@extend .pretty;
		@extend .rounded;
		@extend .success;
		@extend .medium;
		@include box-sizing(border-box);
		@include text-shadow(0 1px 1px #2e4b03);
		font-weight:bold;
		margin-top:30px;
		display:block;
		width:80%;
		color:#fff;
	}
	
}