// Your custom SCSS should be written here...

input.text {
	@extend .input;
}
.Actions{
	.btn{
		@extend .info;
		float:left;
	}
}

#ForgotPassword{
	font-size: 0.8em;
	padding-top:10px;
	padding-left:20px;
	float:left;
}

.navbar{
	margin-bottom:0;
}

.shaded{
	background:rgba(#ccc, 0.5);
	padding-bottom:20px;
}