.editable, .field textarea {
	margin-bottom:30px;
	padding: 10px;
	width: 98%;
	height:auto;
	color: $body-font-color;
	position: relative;
	background: lighten($global-bg-color, 10%);
	border: 1px solid lighten($global-bg-color, 15%);
	@include font-size($norm);
	@include border-radius(4px);
	&:focus {
		@include box-shadow(none);
		outline:none;
		border: 1px solid lighten($global-bg-color, 30%);
	}
}

.editable {
	min-height:300px;
	&:focus {
		@include box-shadow(none);
		outline:none;
		border: 1px solid lighten($global-bg-color, 30%);
	}
}

.medium-editor-placeholder:after {
	top: 10px;
	left: 10px;
}