.alert {
	max-width: 98%;
}

.message {
	@extend .alert;
	@extend .info;
}
.good {
	background: mix($success-color, #fff, 50%);
	border: 1px solid darken($success-color, 20%);
	color: darken($success-color, 20%);
}
.bad {
	background: lighten($danger-color, 20%);
	border: 1px solid $danger-color;
	color: darken($danger-color, 20%);
}

.content .alert {
	padding:10px;
	margin-bottom:30px;
	font-size:15px;
	&.primary {
		a {
			color:darken($body-link-color, 50%);
		}
	}
}


.col-heading {
	float: left;
	width: 15%;
	margin-top: 6px;
	font-weight: bold;
}

.hide-label {
	label {
		clip: rect(0 0 0 0);
		height: 1px; width: 1px;
		margin: -1px; padding: 0; border: 0;
		overflow: hidden;
		position: absolute;
	}
}

form fieldset legend {
	padding: 0;
	margin: 0;
}

form fieldset.zebra {
	@include border-radius(3px);
	margin: 0; 
	padding: 10px 20px;
	.field, .composite {
		border: none;
		@include box-shadow(none);
	}
	.composite {
		padding: 5px 0;
	}
}

fieldset.odd {
	background: rgba($navbar-color, 0.5);
}


input.text, .tagsinput {
	@extend .input;
}

.field {
	input.text, .tagsinput {
		line-height: normal;
	}
	&.inline {
		width: 42%;
		float: left;
		clear: none;
		box-sizing: border-box;
		margin: 0;
		@include respond(all-phones){
			width: 100%;
		}
		.picker {
			width: 95%;
			@include respond(all-phones){
				width: 98%;
			}
		}
	}


	&.small-input {
		input {
			width: 45px;
			margin-right: 5px;
		}
	}
}
.Actions {
	.btn {
		@extend .metro;
		@extend .pretty;
		@extend .rounded;
		@extend .success;
		@extend .medium;
		@include text-shadow(0 1px 1px #2e4b03);
		font-weight:bold;
		display:block;
		color:#fff;
		float:left;
	}
}

#ForgotPassword {
	font-size: 0.8em;
	padding-top:10px;
	padding-left:20px;
	float:left;
}

#Remember { //only supplied an id
	.checkbox {
		float:left;
		margin-right:10px;
	}
}



.icon-check {
	.alert.primary & {
		background:rgba(#fff, 0.7);
		@include border-radius(3px);
		height:20px;
		width:20px;
		border:1px solid rgba(#fff, 0.6);
		line-height:20px;
		color: darken($primary-color, 20%);
		opacity:0.7;
	}
}
label {
	position:relative;
	overflow:hidden;
	&.checkbox {
		float:left;
		margin-top:0;
		padding-right:30px;
	}
}
.req-indicator {
	position:absolute;
	top:-100%;
	&:after {
		position:absolute;
		top:100%;
		left:5px;
		content:'*';
		color:$danger-color;
		height:15px;
		width:15px;
	}
}

.input.text {
	float:left;
	width:98%;
	.checkablevisibility & {
		float:right;
		width:90%;
		margin-right:10px;
		.checkbox {
			margin-top: 5px;
		}
	}
}

.checkablevisibility {
	.checkbox {
		margin-top: 7px;
	}
}

.field {
	@include clearfix;
	clear:both;
	padding:10px 0;
	margin:5px 0 5px 0;
	@include doubleborder(bottom, lighten($global-bg-color, 3%), darken($global-bg-color, 3%));
	.field {
		border:none;
		@include box-shadow(none);
	}
}

.composite {
	@include doubleborder(bottom, lighten($global-bg-color, 3%), darken($global-bg-color, 3%));
	padding: 20px 0;
	.field {
		padding: 5px 0;
		border: 0; //move border to parent
		@include box-shadow(none);
	}
}