.key {
	display: none;
}
.js .key {
	@include clearfix;
	padding: 15px 10px;
	margin-bottom: 30px;
	width: 100%;
	display: block;
	background-color: $navbar-color;
	.icon-heart {
		color: $passion;
	}
	.icon-check {
		color: $earth;
	}
	.icon-up {
		color: $earth;
	}
	dt, dd {
		float: left;
	}
	dt {
		margin-left: 20px;
		@include respond(all-phones) {
			clear: both;
			margin-left: 0;
		}
	}
	h3 {
		font-size: $norm - 2;
		font-weight: bold;
		text-transform: uppercase;
		float: left;
		color: $body-font-color;
		@include respond(all-phones) {
			display: none;
		}
	}
}