$pagination-border: rgba(#333,0.1);
.pagination-wrap.ssendless {
	float: left;
	left: 0; 
	position: static;
	width: 100%;
	margin-top: 50px;
	margin-bottom:100px;

	.ss-pagination { 
		@include box-sizing(border-box);
		float: left;
		left: 0; 
		position: relative;
		width: 100%;

		a {
			@include transition(background-color, 0.3s);
			@include text-shadow(0px -1px 0px rgba(#fff, 0.1));
			position: relative;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
			&:before {
				content: "#{$entypo-icon-down-open-big}";
				font-family: "#{$icons}";
				width: 20px;
				height: 20px;
				position: relative;
				left: 11px;
			}
			.text {
				font-size:0.9em;
				padding: 1px 0 0 20px;
				display: inline-block;
			}

			.loading-icon {
				font-size: 1em;
				color: #fff;
				padding: 0;
				i {
					font-style: normal;
					display: inline-block;
				}
			}
		}
	}
}


.pagination-content{
	article{
		margin-bottom:10px;
		&:not(:first-child){
			@include doubleborder(top, lighten($global-bg-color, 3%), darken($global-bg-color, 3%));
			padding-top:20px;
		}
	}
}

