
.js .preference-select {
	// copes with 5 preferences maximum

	.preference-group .field {
		position: relative;
		float: left;
		cursor: move; 
		background: rgba(lighten($global-bg-color, 10%),0.5);
		border: 0px solid lighten($global-bg-color, 12%);
		border-left-width: 19px;
		color: #fff;
		margin: 0;
		margin-bottom: 1px;
		padding: 5px 50px 5px 40px;

		@include respond(all-phones) {
			border-left-width: 5px;
		}
		&.favourite .icon-heart {
			color: $passion;
		}
		&:first-child {
			.icon-up {
				display: none;
			}
			.icon-heart {
				display: block;
			}
			&.not-playing{
				.icon-heart {
					display: none;
				}
			}
		}
		&:hover, &:focus {
			background: lighten($global-bg-color, 10%);
			border-color: $earth;
			.icon {
				color: $earth;
			}
			// .icon-heart {
			// 	color: $passion;
			// }
			&.favourite .icon-heart {
				color: $passion;
			}
		}
		&:before {
			box-sizing: border-box;
			display: block;
			padding: 5px 10px;
			background-color: lighten($global-bg-color, 7%);
			height: 100%;
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			width: 30px;
			color: rgba(#fff, 0.7);
			font-weight: normal;
		}
		&:after {
			@include rotate(-45deg);
			content: "\e744";
			font-family: "#{$icons}";
			position:absolute;
			text-decoration:none;
			zoom: 1;
			left: -17px;
			top: 5px;
			opacity:0.5;
			@include respond(all-phones) {
				content: "";
			}
		}
		.icon {
			position: absolute;
			right: 5px;
			top: 5px;
			padding-left: 22px;
			color: rgba(lighten($earth, 50%), 0.5);
			&:hover {
				color: lighten($earth, 3%);
				cursor: pointer;
			}
		}
		.icon-heart {
			display: none;
			color: rgba(lighten($passion, 20%), 0.5);
		}
		.extra {
			text-overflow: ellipsis;
		}
	}

	@for $i from 1 through 5 {
		.preference-#{$i} {
			@for $j from 1 through $i {
				.field:nth-of-type(#{$j}) {
					border-color: $earth;
					&:before {
						content: "#{$j}";
					}
				}
				// if follows after not-playing, style as unselected
				.not-playing ~ .field:nth-of-type(#{$j}) {
					border-color: lighten($global-bg-color, 12%);
					&:before {
						content: "";
					}
				}
			}
		}
	}
}

.preference-table {
	.icon-heart {
		color: $passion;
	}
	.icon-check {
		color: $earth;
	}
}

