.captionImage, .media{
	@extend .image;
	@extend .photo;
	.caption{
		font-style:italic;
	}
}

h2{
	@include doubleborder(bottom, lighten($global-bg-color, 3%), darken($global-bg-color, 3%));
	margin-bottom:20px;
}

.subhead{
	color:$body-font-color;
	opacity:0.5;
}

img{
	@extend .image;
	@extend .photo;
	@extend .rounded;
}
