

h2{
	@include doubleborder(bottom, lighten($global-bg-color, 3%), darken($global-bg-color, 3%));
	margin-bottom:20px;
}

.subhead{
	margin-top:40px;
	color:$body-font-color;
	p {
		@extend .lead;
	}
}

.captionImage, .media{
	@extend .image;
	@extend .photo;
	.caption{
		font-style:italic;
	}
}

// Typography specific to how silverstripe outputs CMS editable fields
// to be imported into the CMS
.content img {
	@extend .image;
	@extend .photo;
	@extend .rounded;
	&.right {
		float:right;
		clear:right;
		margin: 18px 0 18px 80px;
	}
	&.left {
		float:left;
		clear:left;
		margin: 18px 80px 18px 0px;
	}
	&.leftAlone {
		margin: 18px 80px 18px 0;
		float: none;
		display: block;
		clear: both;
	}
	&.center {
		display:block;
		margin: 18px auto 18px auto;
		clear: both;
	}
}

// Media insert formatting  (Youtube embed) 
.media.center{
	margin:0 auto;
	text-align:center;
}
.media.left{
	float:left;
	clear:left;
	margin: 0 18px 18px 0px;
}
.media.leftAlone{
	margin: 0 18px 18px 0;
	float: none;
	display: block;
	clear: both;
}
.media.right{
	float:right;
	clear:right;
	margin: 0 0 18px 18px;
}

.content {
	.captionImage, .featured-image {
		@include border-radius(0 0 $button-radius $button-radius);
		max-width: 100%;
		background-color: darken($global-bg-color, 2%);

		&.left {
			float: left;
			margin: 0 80px 40px 0px;
		}
		&.right{
			float:right;
			margin: 0 0 40px 80px;
		}
		&.leftAlone{
			float:none;
			margin: 0 80px 40px 0px;
		}
		&.center{
			margin: 0 auto 40px;
		}
		&.left, &.right, &.leftAlone, &.center {
			@include respond(all-phones){
				margin-bottom:40px;
				margin-top:10px;
			}
			img {
				@include border-radius($button-radius $button-radius 0 0);
				margin: 0;
				border: 0;
			}
		}
		p {
			clear: both;
			padding: 15px 20px;
			font-weight:normal;
			font-size:16px;
			line-height:22px;
			@include respond(all-phones){
				text-align: center;
				margin: 0px 20px 40px 20px;
			}
		}
	}
}

h1{
	font-family: 'cocaine_sansregular', sans-serif;
	padding-top:25px;
	&.image{
		margin-bottom: 0;
		padding-bottom: 0;
		max-height: 290px;
		overflow: hidden;
	}
	a {
		color: darken($air, 15%);
		font-size: 173px;
		text-shadow: 10px 10px 50px rgba(#000, 0.5);

		&:hover{
			color:lighten($global-bg-color,60%);
		}
		@include respond(tablets) {
			font-size:140px;
		}
		@include respond(all-phones) {
			font-size:90px;
		}
		img{
			@include box-shadow(none);
			margin-bottom:0;
			padding: 0;
		}
	}
}

h2, h3,h4,h5,h6 {
	a {

		color: darken($air, 15%);
		border-bottom: 1px solid rgba($body-link-color,0.2);
		display: block;
		margin-bottom: 10px;
		padding-bottom: 5px;
		&:hover {
			border-bottom: 1px solid rgba($body-link-hover-color,0.2);
		}
	}
}

.content table thead tr th {
	padding: 15px 10px;
}

.desktop-only {
	@include respond(all-phones) {
		display: none;
	}
}

.mobile-large {
	@include respond(all-phones) {
		font-size: 2em;
	}
}


