
.pull-right {
	float:right;
}

.nonvisual-indicator { // Content often used by people using screenreaders 
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
	overflow: hidden;
	position: absolute;
}


.divider {
	border-top: 3px solid $navbar-link-color;
	opacity:0.8;
	text-align:center;
	@include border-image(url('../images/border-small.png') 30 0 stretch);
}

.shaded {
	background:darken($global-bg-color, 3%);
	padding-bottom:20px;
}


.meta-info {
	padding-top:10px;
	em {
		display:block;
		font-style:normal;
	}
	.label {
		font-size:14px;
		height:auto;
		line-height:22px;
		margin-top:10px;
	}
}