
.pts {
	padding-top:15px;
}
.ptm {
	padding-top:20px;
}
.ptl{
	padding-top:30px;
}
.ptxl{
	padding-top:60px;
}

.pvl {
	padding-top:30px;
	padding-bottom:30px;
}
.pvm {
	padding-top:20px;
	padding-bottom:20px;
}

.pvs {
	padding-top:10px;
	padding-bottom:10px;
}
